@use "@material/theme" with (
  $primary: #212121,
  $secondary: #991616,
  $on-primary: #ffffff,
  $on-secondary: #ffffff,
);

@use "@material/top-app-bar/mdc-top-app-bar";
@use "./common";
@use "@material/button/styles" as button-styles;
@use "@material/drawer";
// @use "@material/list";
@use "@material/icon-button/styles" as icon-button-styles;
@use "@material/list/evolution-mixins"as list-evolution-mixins;

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
// @include list.core-styles;
@include list-evolution-mixins.core-styles();

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

// Only apply this style if below top app bar.
.mdc-top-app-bar {
  z-index: 7;
}

.material-icons{
    padding-bottom: 3px;
}

.drawer-list-item-icon-helper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container{
    display: block; 
    background: url('http://macgregor.mit.edu/images/macgregor-schematic-outline.png'); 
    position: relative; 
    padding: 0px; 
    width: 622px; 
    height: 610px;
}

.map-text-container{
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: large;
    margin-top: 1em;
}

#map-canvas{
    width: 622px; 
    height: 610px; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    padding: 0px; 
    border: 0px; 
    opacity: 1;
}

body{
    background-color: #212121;
}